/* ATROPOS SWIPER */



@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

body,


html {
	background: #000000;

	font-family: "Montserrat", sans-serif;
	/* width: 100%; */
}

img {
    -webkit-box-reflect: below 5px
		linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2));
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
    z-index: 1;

  }


.imgTest:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
    z-index: 999;
}


